body {
margin: 0;
padding: 0;
font-family: "Fjalla One", sans-serif;
}

.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
.head-container {
  display: flex;
  justify-content: space-between;
}
.header {
  .header-top {
    background-color: #f8f6f6;
    padding: 30px;
    .header-logo {
      display: flex;
      .logo__icon {
        padding-right: 25px;
      }
      .logo__text {
        color: dimgray;
        font-size: 40px;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-family: "Rum Raisin", sans-serif;
      }
    }
  }
  .header-main {
    background: url(../images/headBG.jpg);
    background-repeat: no-repeat;
    background-position-y: -222px;
    background-position: center;
    min-height: 550px;
    text-align: center;
    h1 {
      margin: 0;
      padding: 14% 0 18% 0;
      color: #171f23;
      font-size: 58px;
      font-family: "Rum Raisin", sans-serif;
    }
    .title-text {
      margin-top: -17%;
      font-size: 32px;
      color: #171f23;
      font-family: "Rum Raisin", sans-serif;
    }
    .header-main__scroll {
      margin-top: 19%;
      p {
        color: #171f23;
      }
    }
  }
}
.about-us {
  margin-bottom: 80px;
  .title {
    position: relative;
    font-size: 30px;
    text-align: center;
    color: #3d3d3d;
    padding: 70px 0 35px 0;
    text-transform: uppercase;
  }
  .about-us__title:before {
    content: "";
    position: absolute;
    width: 10%;
    border-bottom: 2px solid #f4511e;
    top: 73%;
    left: 45%;
  }
  .about-us__text {
    color: #3d3d3d;
    text-align: center;
    padding-bottom: 45px;
  }
  .about-us__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .about-us__item {
      background: #ebebeb;
      color: #3d3d3d;
      width: 260px;
      height: 136px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 30px;
      .about-us__item-title {
        font-weight: bold;
        }
      }
    }
  }
.video-block {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  .video-block__content {
    display: flex;
    .left-player {
      background-color: #171f23;
      flex-basis: 50%;
      .left-player__title {
        color: #e7e7e7;
        font-size: 30px;
        text-align: center;
        margin:8% 0 3% 0;
      }
      .left-player__text {
        color: #696969;
        text-align: center;
        padding: 0 12% 10% 12%;
      }
      .left-player__button {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        color: #ebebeb;
        background-color: #e84c3d;
        width: 127px;
        height: 35px;
        outline: none;
        text-align: center;
      }
      .left-player__button:hover {
        background-color: #871900;
        transition-duration: 0.5s;
      }
      .left-player__button:focus {
        outline: none;
      }
    }
    .right-player {
      background-color:rgba(0,0,0,.9);
      flex-basis: 50%;
      img {
        width: 100%;
      }
    }
  }
}
.our-works-container {
  position: relative;
  width: 618px;
  margin: 0 auto;
  .title {
    position: relative;
    font-size: 30px;
    text-align: center;
    color: #3d3d3d;
    padding: 70px 0 35px 0;
    text-transform: uppercase;
  }
  .our-works__title:before {
    content: "";
    position: absolute;
    width: 20%;
    border-bottom: 2px solid #f4511e;
    top: 73%;
    left: 40%;
  }
  .our-works__text {
    text-align: center;
    color: #3d3d3d;
    font-family: Arial, sans-serif;
    margin-bottom: 80px;
  }
  .our-works__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 20px 0 20px;
  }
  .our-works__list > li {
    font-family: Arial, sans-serif;
    color: #3d3d3d;
  }
  .our-works__list > li > a {
    text-decoration: none;
    color: #3d3d3d;
  }
  .our-works__list-item--active {
    font-weight: bold;
    position: relative;
  }
  .our-works__list-item--active::before {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 2px solid #f4511e;
    top: 100%;
    left: 0;
  }
}
.our-works__content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .our-works__content-item {
    margin: 10px;
  }
}
